In [32]:
import pandas as pd
import numpy as np

In [33]:
plants = [
    "Agave lechuguilla",
    "Agave salmiana",
    "Agave scabra",
    "Agave striata",
    "Opuntia cantabrigiensis",
    "Opuntia engelmani",
    "Opuntia robusta",
    "Opuntia streptacanta",
    "Prosopis laevigata",
    "Yucca filifera",
]

stores = [
    "Vivero", 
    "Moctezuma", 
    "Venado", 
    "Laguna seca"
]

polygons = range(31)

In [34]:
supplier_prices = pd.DataFrame([
    [None, None, None, 26],
    [None, None, None, 26],
    [None, 26, None, 26],
    [None, 26, 25, None],
    [None, 17, 18, None],
    [None, None, 18, 21],
    [None, 17, 18, 18],
    [None, None, 18, None],
    [26.5, None, None, None],
    [26, None, None, None]
], index = plants, columns = stores)

In [35]:
data = {
    "Especie": [
        "Agave lechuguilla", "Agave salmiana", "Agave scabra", "Agave striata",
        "Opuntia cantabrigiensis", "Opuntia engelmani", "Opuntia robusta", 
        "Opuntia streptacanta", "Prosopis laevigata", "Yucca filifera"
    ],
    "Nombre común": [
        "Lechuguilla", "Maguey verde", "Maguey azul", "Maguey verde",
        "Cuijo", "Cuijo", "Tapón", "Cardón", "Mezquite", "Palma china"
    ],
    "HA": [33, 157, 33, 33, 39, 30, 58, 51, 69, 21],
    "% POR HA": [
        6.297709924, 29.96183206, 6.297709924, 6.297709924, 
        7.442748092, 5.72519084, 11.06870229, 9.732824427, 
        13.16793893, 4.007633588
    ],
    "N° de individuos 75 ha": [
        2475, 11775, 2475, 2475, 2925, 2250, 4350, 3825, 5175, 1575
    ],
    "Altura (cm)": [
        "30-50", "30-50", "15-25", "20-30", "20-30", "20-30", 
        "20-30", "20-35", "25-30", "20-30"
    ],
    "Capacidad en la camioneta": [
        "VAN EN LA CAMIONETA", "VAN EN LA CAMIONETA", "VAN EN LA CAMIONETA", 
        "VAN EN LA CAMIONETA", "1 REJA", "1 REJA", "2 REJAS", "2 REJAS", 
        "2 REJAS", "1 REJA"
    ]
}

df = pd.DataFrame(data)

# Exportar a CSV
csv_path = "especies_reforestacion.csv"
df.to_csv(csv_path, index=True)

In [36]:
df

,Especie,Nombre común,HA,% POR HA,N° de individuos 75 ha,Altura (cm),Capacidad en la camioneta
0,Agave lechuguilla,Lechuguilla,33,6.297710,2475,30-50,VAN EN LA CAMIONETA
1,Agave salmiana,Maguey verde,157,29.961832,11775,30-50,VAN EN LA CAMIONETA
2,Agave scabra,Maguey azul,33,6.297710,2475,15-25,VAN EN LA CAMIONETA
3,Agave striata,Maguey verde,33,6.297710,2475,20-30,VAN EN LA CAMIONETA
4,Opuntia cantabrigiensis,Cuijo,39,7.442748,2925,20-30,1 REJA
5,Opuntia engelmani,Cuijo,30,5.725191,2250,20-30,1 REJA
6,Opuntia robusta,Tapón,58,11.068702,4350,20-30,2 REJAS
7,Opuntia streptacanta,Cardón,51,9.732824,3825,20-35,2 REJAS
8,Prosopis laevigata,Mezquite,69,13.167939,5175,25-30,2 REJAS
9,Yucca filifera,Palma china,21,4.007634,1575,20-30,1 REJA

In [37]:
space_data = {
    # "name" : (x, y, area)
    1: (-56, -1298, 5.4),
    2: (-602, -1030, 7.52),
    3: (-394, -1042, 8),
    4: (-195, -1046, 8),
    5: (1, -1046, 7.56),
    6: (-814, -932, 4.19),
    7: (-824, -643, 6.28),
    8: (-600, -600, 7.6),
    9: (-399, -639, 8),
    10: (-195, -632, 8),
    11: (0, -600, 7.67),
    12: (153, -492, 1.47), #P12
    13: (-794, -258, 7.97), # P13
    14: (-195, -258, 5.98), # P14
    15: (56, -334, 5.4), # P15
    16: (408, -158, 5.64),
    17: (189, -43, 6.11),
    18: (0, 0, 7.11), # <--------------------------------------- HQ
    19: (600, 0, 4.92),
    20: (-931, 75, 1.38),
    21: (-808, 75, 8),
    22: (-604, 79, 7.82),
    23: (-403, 136, 5.53),
    24: (-206, 133, 5.64),
    25: (800, 200, 5.05),
    26: (1000, 400, 4.75),
    27: (-927, 445, 1.28),
    28: (-801, 434, 6.64),
    29: (-597, 431, 6.54),
    30: (-349, 380, 6.76),
    31: (-417, -269, 7.34),
}

ha_df = pd.DataFrame(space_data).T
ha_df.columns = ["X", "Y", 'Hectareas']
ha_df.reset_index(inplace=True)
ha_df.rename(columns={'index':'Poligono'}, inplace=True)
ha_df.to_csv('ha.csv', index=False)

In [41]:
ha_df

    Poligono       X       Y  Hectareas
0          1   -56.0 -1298.0       5.40
1          2  -602.0 -1030.0       7.52
2          3  -394.0 -1042.0       8.00
3          4  -195.0 -1046.0       8.00
4          5     1.0 -1046.0       7.56
5          6  -814.0  -932.0       4.19
6          7  -824.0  -643.0       6.28
7          8  -600.0  -600.0       7.60
8          9  -399.0  -639.0       8.00
9         10  -195.0  -632.0       8.00
10        11     0.0  -600.0       7.67
11        12   153.0  -492.0       1.47
12        13  -794.0  -258.0       7.97
13        14  -195.0  -258.0       5.98
14        15    56.0  -334.0       5.40
15        16   408.0  -158.0       5.64
16        17   189.0   -43.0       6.11
17        18     0.0     0.0       7.11
18        19   600.0     0.0       4.92
19        20  -931.0    75.0       1.38
20        21  -808.0    75.0       8.00
21        22  -604.0    79.0       7.82
22        23  -403.0   136.0       5.53
23        24  -206.0   133.0       5.64
24        25   800.0   200.0       5.05
25        26  1000.0   400.0       4.75
26        27  -927.0   445.0       1.28
27        28  -801.0   434.0       6.64
28        29  -597.0   431.0       6.54
29        30  -349.0   380.0       6.76
30        31  -417.0  -269.0       7.34

In [38]:
supplier_prices = supplier_prices.reset_index()
supplier_prices.rename(columns={'index':'specie'}, inplace=True)
supplier_prices = supplier_prices.melt(id_vars='specie', var_name='supplier', value_name='price')
supplier_prices.dropna(inplace=True)
supplier_prices.to_csv('supplier_prices.csv', index=False)

In [39]:
supplier_prices

                     specie     supplier  price
8        Prosopis laevigata       Vivero   26.5
9            Yucca filifera       Vivero   26.0
12             Agave scabra    Moctezuma   26.0
13            Agave striata    Moctezuma   26.0
14  Opuntia cantabrigiensis    Moctezuma   17.0
16          Opuntia robusta    Moctezuma   17.0
23            Agave striata       Venado   25.0
24  Opuntia cantabrigiensis       Venado   18.0
25        Opuntia engelmani       Venado   18.0
26          Opuntia robusta       Venado   18.0
27     Opuntia streptacanta       Venado   18.0
30        Agave lechuguilla  Laguna seca   26.0
31           Agave salmiana  Laguna seca   26.0
32             Agave scabra  Laguna seca   26.0
35        Opuntia engelmani  Laguna seca   21.0
36          Opuntia robusta  Laguna seca   18.0

In [40]:
species_names = df['Especie'].sort_values()
polygon_ids = ha_df['Poligono'].sort_values().values

# Create an empty DataFrame with species as index and polygons as columns
demand_df = pd.DataFrame(index=species_names, columns=polygon_ids)

# Fill the DataFrame
for i, specie in df.iterrows():
    for j, row in ha_df.iterrows():
        demand_df.at[specie['Especie'], row['Poligono']] = row['Hectareas'] * specie['N° de individuos 75 ha'] / 75.09

# Convert values to integers (if desired)
demand_df = demand_df.astype(float)

demand_df = demand_df.round(0).astype(int)
demand_df.reset_index(inplace=True)
demand_df.rename(columns={'Especie':'specie'}, inplace=True)
demand_df = demand_df.melt(id_vars='specie', var_name='polygon', value_name='demand')
demand_df.to_csv('demand.csv', index=False)